:root {
  --width-100: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100%; */
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.content {
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.A {
  background-color: cyan;
}

.B {
  background-color: yellow;
}

.C {
  background-color: lightgreen;
}

.rounded-block {
  border: 1px solid grey;
  border-radius: 5px;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-1 {
  margin-left: 1rem;
}
